.top {
    width: 100%;
    height: 200px;
    text-align: center;
    background-image: url(image.jpg);
    background: cover;
    padding-top: 50;
}

h1{
    font-family: fantasy;
    color: white;
}

h2{
    font-family: cursive;
    color: white;
}

.txt{
    font-family: monospace;
    color: white;
}
#shape {
    width: 200px;
    height: 200px;
    background-color: ;
    display: none;
    position: relative;

}